    @media(min-width: 1000px) {
        .container-top{
            margin-left: 110px;
            margin-right: 110px;

        }

        .container-main{
            margin-left: 110px;
            margin-right: 110px;
        }
        .top-column .card{
            flex-direction: row-reverse;
            height: 100%;
        }

        .column-sm{
            width: 28.5%;
        }

        .column{
            width: 70%;
        }
        .top-column .card div{
            height: auto;
        }

        .main-element{
            flex-grow: 1;
        }
        .main-element .card-body{
            flex-grow: 1;
        }

        .column-left{
            width: 200%;
        }

    }