    @media(min-width: 1000px) {
        .container-top {
            margin-left: 110px;
            margin-right: 110px;
        }
        .container-main {
            margin-left: 110px;
            margin-right: 110px;
        }
        .top-column .card {
            flex-direction: row-reverse;
        }
        .column.column_sm {
            width: 28.5%;
        }
        .column {
            width: 70%;
        }
        .card_big {
            flex-grow: 1;
        }
        .card_big .card__body {
            flex-grow: 1;
        }
        .column-left {
            width: 200%;
        }
    }