$body-background-color: #228B22;

$h1-color: #fff;
$sign-in-button-color: #fff;
$menu-nav-color: #fff;

$card-background-color:#fff;
$card-text-color:#808080;
$card-author-name-color:#808080;
$card-counter-name-color:#808080;