.equalizer{
    background-color: #000;
}  
.equalizer-item{
display: inline-block;   
width: 60px;
background:  repeating-linear-gradient(0deg, transparent, transparent 30px, #000 20px, #000 33px), 
             linear-gradient(to top, rgb(255,151,49), rgb(225,220,106));
border-radius: 10px 10px 0px 0px;
}
.col-5{
  height: 160px;
}
.col-2{
  height: 65px;
}
.col-8{
  height: 256px;
}
.col-10{
  height: 320px;
}
.col-3{
  height: 96px;
}

