.navigator{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.navigator .block-start{
    background: #808080;
    width: 130px;
    height: 40px;
    position: relative;
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.navigator .block-start::after{
    position: absolute;
    content: "";
    border: 20px solid transparent;	
    border-left: 8px solid #808080;
    top: 0;
    right: -28px;
}
.navigator .block-start:hover{ 
    background: #64C51D; 
    color: #FFF;
}
.navigator .block-start:hover::after{
    border-left-color: #64C51D;
}
.navigator .block-common{
    background-color: #808080;
    width: 130px;
    height: 40px;
    position: relative;
    text-align: center;
    margin-left: 8px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigator .block-common::before{
    position: absolute;
    content: "";
    border: 20px solid transparent;	
    border-left: 8px solid #FFF;
    top: 0;
    left: 0;
}
.navigator .block-common::after{
    position: absolute;
    content: "";
    border: 20px solid transparent;	
    border-left: 8px solid #808080;
    top: 0;
    right: -28px;
}
.navigator .block-common:hover{
    background: #32CD32;
    color: #FFF;
}
.navigator .block-common:hover::after{
    border-left-color: #32CD32;
}
.navigator .block-end{
    background-color: #808080;
    width: 130px;
    height: 40px;
    position: relative;
    text-align: center;
    margin-left: 8px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;         
}
.navigator .block-end::before{
    position: absolute;
    content: "";
    border: 20px solid transparent;	
    border-left: 8px solid #FFF;;
    top: 0;
    left: 0;
}
.navigator .block-end:hover{
    background: #32CD32;
    color: #FFF;
}